.showcase {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: fit-content;

    .showcase-item {
        display: flex;
        align-items: center;

        .seat {
            background-color: #fff;
            height: 0.75rem;
            width: 1rem;
            margin: 0.5rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            &.selected {
                background-color: green;
            }

            &.occupied {
                background-color: red;
            }
        }
    }
}